// Set the width of the main content area
// Notice that the actual content's width is $site-width - 100px
$site-width: 800px;

$headline-font: "Comfortaa", sans-serif;
$content-font: "Open Sans", sans-serif;
$article-footer-font: "Fira Code", monospace;

$background: #282a36;
$background-second: #383a59;
$blue: #6272a4;
$white: #f2f2f2;
$pink: #ff79c6;
$green: #50fa7b;

// main colors
$page-background-color: $background;
$base-color: $background-second;
$special-color: $background-second;
$highlight-color: $pink;
$text-color: $white;

// easy styling
$nav-background-color: $background;
$nav-text-color: $white;
$algolia-search-box-color: $white;
$algolia-search-box-icon-color: $pink;
$algolia-search-box-background-color: $background;
$algolia-border-color: $pink;

$header-text-color: $white;
$logo-color: $background-second;
$bubble-color: $pink;
$bubble-background-color: $background;
$bubble-hover-color: transparent;

$article-background-color: $background-second;
$meta-text-color: $blue;
$meta-border-color: $pink;
$continue-reading-hover-color: $pink;

$footer-border-color: $pink;
$footer-background-color: $background-second;
$footer-headline-color: $blue;

@mixin featuredImage() {
  .featured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.25;
  }
}
